<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Guess Number</title>
    <!-- bootstrap css framework -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script>
        window.onload = function () {
            console.log("test");
            if (document.forms["gameStart"].username.value === "") {
                document.forms["gameStart"].username.focus();
            }
            else {
                document.forms["guessForm"].number.focus();
            }
        }
    </script>
</head>
<body>
<div class="container-fluid">
    <form name="gameStart" action='/gameStart'>
        <div class="form-inline">
            <label class="">{{ welcome|safe }}</label>
            <button class="form-control" type="submit" >New game!</button>
        </div>
    </form>
    <form name="guessForm" action='/'>
        <div class="form-inline">
            <label class="" for="numberInput">Enter 4 numbers(e.g. 1234):</label>
            <input class="form-control" id="numberInput" type="text" name="number"/>
        </div>
    </form>
    <div>{{ hint|safe }}</div>
</div>
</body>
</html>
